name: publish
on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 
      - uses: asdf-vm/actions/install@v4
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm run test
      - name: build
        run: npm run build
      - name: lint
        run: npm run lint
      - name: Publish package
        run: npm publish --access public
